In [53]:
#Q1.
units= int(input("Enter the number of units consumed"))
# bacause input function always gives an string so that's we use "int" function here
# int here is used because it will convert "str" which comes from input into "int"

if  units<=100:
    bill=0

if units>100 and units<=200:
    bill=(units-100)*5

if units>200:
    bill=(100*5) + (units-200)*10
    
print("Total electricity bill is rs", bill)

Enter the number of units consumed 350

Total electricity bill is rs 2000

In [57]:
#Q2.
Marks= int(input(" Enter marks of student in percentage"))

if Marks>90:
    Grade= "A"

if Marks<=90 and Marks>80:
    Grade= "B"

if Marks>=60 and Marks<=80:
    Grade="C"

if Marks<60:
    Grade="D"

print("Grade of the student is", Grade)

 Enter marks of student in percentage 85

Grade of the student is B

In [63]:
#Q3.
age1= int(input(" Enter the age of the person 1"))
age2= int(input(" Enter the age of the person 2"))
age3= int(input(" Enter the age of the person 3"))
age4= int(input(" Enter the age of the person 4"))

youngest=age1

if age2<youngest:
    youngest= age2

if age3<youngest:
    youngest= age3

if age4<youngest:
    youngest= age4

print("The youngest age is", youngest)

 Enter the age of the person 1 15
 Enter the age of the person 2 27
 Enter the age of the person 3 35
 Enter the age of the person 4 43

The youngest age is 15

In [71]:
#Q4.
salary = float(input("Enter your salary: "))
years_of_service = float(input("Enter your years of service: "))
bonus = 0
# here we use float because "int" omly accept whole numbers but "float" can accept decimal too...

if years_of_service > 10:
    bonus = salary * 0.10

if years_of_service >= 6 and years_of_service <= 10:
    bonus = salary * 0.08

if years_of_service < 6:
    bonus = salary * 0.05
    
print("Your bonus amount is Rs", bonus)

Enter your salary:  30000
Enter your years of service:  12

Your bonus amount is Rs 3000.0

In [79]:
#Q5.
Number1 = int(input("enter the number1"))
Number2 = int(input("enter the number2"))
Number3 = int(input("enter the number3"))
largest = Number1

if Number2 > largest:
    largest = Number2

if Number3 > largest:
    largest = Number3

print("Largest number is", largest)

enter the number1 45
enter the number2 56
enter the number3 75

Largest number is 75

In [83]:
#Q6.
marked_price = float(input("Enter the marked price"))
discount=0

if marked_price > 10000:
    discount= (marked_price * 0.2)

if marked_price > 7000 and marked_price <= 10000:
    discount= (marked_price * 0.15)

if marked_price <= 7000:
    discount= (marked_price * 0.1)

net_amount= (marked_price - discount)

print("net_amount is", net_amount)

Enter the marked price 12000

net_amount is 9600.0

In [89]:
#Q7.
marks_of_english = float(input("enter marks of the english subject"))
marks_of_maths = float(input("enter marks of the maths subject"))
marks_of_science = float(input("enter marks of the science subject"))
marks_of_social_science = float(input("enter marks of the social science subject"))
stream = {"sicence, commerce. humanities"}

if marks_of_english > 80 and marks_of_maths > 80 and marks_of_science >80 and marks_of_social_science > 80:
    stream= "science"

if marks_of_english > 80 and marks_of_maths > 50 and marks_of_science > 50:
    stream = "commerce"

if marks_of_english > 80 and marks_of_social_science >80:
    stream = "humanities"

print("stream alloted to student is", stream)

enter marks of the english subject 85
enter marks of the maths subject 75
enter marks of the science subject 52
enter marks of the social science subject 82

stream alloted to student is humanities

In [95]:
#Q8.
number = int(input("enter the number"))

if number % 5 == 0:
    print("Hello")

else:
    print("Bye")

enter the number 520

Hello

In [97]:
#Q9.
number = int(input("enter the number"))

if number % 3 == 0:
    print("Divisible by 3")

else:
    print("Not divisible by 3")

enter the number 49

Not divisible by 3

In [101]:
#Q10.
number = int(input("enter the number"))

if number >= 100 and number <= 999:
    print("It is a three digit number")

else:
    print("It is not a three digit number")

enter the number 456

It is a three digit number